body {
    background-color: rgb(53, 53, 53);

}



.viaje_1{

    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 740px;
}    
.viaje_1 img{
    margin-top: 120px;
    margin-left: -223px;
}


.formulario {
    color: aliceblue;
    margin-left: 0px;
}
.formulario form{
    margin-left: 100px;

}

.boton1 {
   
    display: flex;
    position: absolute;
    left: 55%;


    
}

.boton2 {
    display: flex;
    position: absolute;
    left:15%;

}

header {

    background-color: rgb(46, 45, 45);
    width: 100%;
    position: fixed;
    z-index:100;

}

nav {

    float:left;
    
}

nav ul {
list-style:none;
overflow: hidden;


}

nav ul li {
    float: left;
   font-family: Arial, Helvetica, sans-serif;;
   font-size: 20px;
}

nav ul li a {

    display:block;
    padding: 20px;
    color:#fff;
    text-decoration: none;
}

nav ul li:hover{
    background: #eca023;
}

.imagen {
    margin-top: 20px;
    width: 450px;
    height: 500px;

      
}
.buscador{
    margin-left: 300px;
    margin-top: 23px;

}
.box input{
    width: 400px;
}
.modal-header{
    color: black;
}
.modal-body{
    color: black;
}
